<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Deux Baroudeurs - Blog de voyage</title>
    <meta-name="description" content="Découvrez nos articles de voyages à travers la Nouvelle Zelande et l'Amérique du Sud. Les deux Baroudeurs, Agathe et Sylvain."> 
    <meta-name="author" content="Agathe & Sylvain">
 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor


			- only renders when user is logged in and admin--}}
	<link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107715890-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107715890-2');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T6WSN22');</script>
<!-- End Google Tag Manager -->

	{{{isAdminEditorCSS user}}}
	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>


	{{> header}}
	<div id="main">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
					<div class="alert alert-info">
						{{{flashMessages messages.info}}}
					</div>
				{{/if}}
				{{#if messages.success}}
					<div class="alert alert-success">
						{{{flashMessages messages.success}}}
					</div>
				{{/if}}
				{{#if messages.warning}}
					<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
					</div>
				{{/if}}
				{{#if messages.error}}
					<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
					</div>
				{{/if}}
			</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}

	</div>
	{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6WSN22"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<script src="/js/jquery/jquery-1.11.3.min.js"></script>
	{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}


	<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
	<script src="/js/insta.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript">

	</script>
	{{{isAdminEditorJS user}}}
</body>

</html>
