<!-- ************************** NOT USE  ****************************** -->


<div id='destinations'>
  <div class="container">
    <h1>{{data.continent.name}}</h1>
    <h2>Dernier articles sur l'{{data.continent.name}}</h2>
    {{# each data.posts}}
      <div class="row">
        <div class="col-sm-5 col-md-3">
          <a href="{{postUrl slug}}">
           <div class="article">
             <div class="image-article">
               {{#if image}}<img src="{{{cloudinaryUrl image}}}" class="">{{/if}}
             </div>
             <div class="caption">
               <!-- <h2>{{{title}}}</h2> -->
                <h2>{{{title}}}</h2>
               <!-- <p class="content-brief">{{{content.brief}}}</p> -->
               <p class="content-brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci ex, vestibulum at velit id, semper finibus lorem. Proin et libero sit amet massa iaculis fringilla mattis sit amet velit. Maecenas mollis diam lectus, vel consequat turpis sagittis quis. Etiam vitae libero sed felis malesuada tristique a id dolor. </p>

              <!-- <p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
                {{#if author.name.first}}by {{author.name.first}}{{/if}}
              </p> -->
               <p></p>
             </div>
      		 </div>
         </a>
      	</div>
      </div>
      {{/each}}
    <h2> PAYS </h2>
    {{# each data.pays}}
      <div class="row">
        <div class="col-sm-5 col-md-3">
         <a href="{{destinationsUrl key}}"> -->
           <div class="article">
             <div class="image-article">
               <!-- {{#if image}}<img src="{{{cloudinaryUrl image}}}" class="">{{/if}} -->
             </div>
             <div class="caption">
               <!-- <h2>{{{title}}}</h2> -->
               <h2>{{{name}}}</h2>
               <!-- <p class="content-brief">{{{content.brief}}}</p> -->
               <p class="content-brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci ex, vestibulum at velit id, semper finibus lorem. Proin et libero sit amet massa iaculis fringilla mattis sit amet velit. Maecenas mollis diam lectus, vel consequat turpis sagittis quis. Etiam vitae libero sed felis malesuada tristique a id dolor. </p>

              <!-- <p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
                {{#if author.name.first}}by {{author.name.first}}{{/if}}
              </p> -->
               <p></p>
             </div>
      		 </div>
         </a>
      	</div>
      </div>
    {{/each}}
    <!-- <div class="btnArticle">
      <a href="{{destinationsUrl key}}" class="btn">Articles sur l'{{{key}}}</a>
    </div> -->
  </div>
</div>
