<div id='destinations'>
  <div class="container title-top">
    <h1>Destinations</h1>
    <h2>Toutes nos destinations</h2>
    <div class="row">
  		<div class="col-sm-12">
        <div  class="map">
          <!-- <img src="images/amCharts.pixelMap.svg" > -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{# each data.pays}}
        <div class="col-sm-5 col-md-4 col-lg-3 mobile block-pays">
          <a href="{{destinationsUrl key}}">
            <div class="pays">
              <div class="title-before element-center">
                <div class="title">
                  <h2>{{{name}}}</h2>
                </div>
              </div>
              <div class="image-pays">
                {{#if image}}<img class="image" src="{{{cloudinaryUrl image}}}">{{/if}}
              </div>

              <!-- <div class="caption">
              <h2>{{{title}}}</h2>
              <h2>{{{name}}}</h2>
              <p class="content-brief">{{{content.brief}}}</p>
              <p class="content-brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci ex, vestibulum at velit id, semper finibus lorem. Proin et libero sit amet massa iaculis fringilla mattis sit amet velit. Maecenas mollis diam lectus, vel consequat turpis sagittis quis. Etiam vitae libero sed felis malesuada tristique a id dolor. </p>

              <p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
              {{#if author.name.first}}by {{author.name.first}}{{/if}}
              </p>
              <p></p>
              </div> -->
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
