{{!< default}}
<div id="index">
	<div class="content-fixed cover">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-8.col-md-offset-2">
						<h2>Bienvenue sur notre blog de voyage.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="content-scrolling">
		<div class="container">
			<span class="title-article-index"><h2> Nos derniers articles </h2></span>
			<div class="row">
			{{# each data.posts.results}}

				{{#if @first}}
  				<div class="col-sm-12 main-article">
            <div class="image-article">
              {{#if image}}<img class="image-ar" src="{{{cloudinaryUrl image }}}">{{/if}}
            </div>
  					<div class="text-article">
							<div class="text-inter">
	              <h1>{{{title}}}</h1>
								<div class="button">
									<a href="{{postUrl slug}}" class="button-article">Lire</a>
								</div>
							</div>
  				  </div>
  				</div>

         {{else}}
         <div class="col-sm-6 col-md-4">

					 <div class="article">
	 					<a href="{{postUrl slug}}" class="image-article">
	 						{{#if image}}<img class="image-ar" src="{{{cloudinaryUrl image}}}">{{/if}}
	 					</a>
	 					<div class="title">
	 							<a href="{{postUrl slug}}"> <h3>{{{title}}}</h3> </a>
	 					</div>

	 					<div class="caption">

	 						<div class="place-date">
	 							{{{categoryList categories }}}
	 							<span class="date"> 23 juillet 2016 </span>
	 						</div>
	 						<div class="content-brief">
	 							<a href="{{postUrl slug}}">
	 								<span class="content"> {{{content.brief}}} </span>
	 							</a>
	 						</div>
	 						<div class="more">
	 							<a href="{{postUrl slug}}" class="button-more"> Lire la suite <i class="fa fa-long-arrow-right"></i>
	 							</a>
	 						</div>
	 					</div>
	 				</div>
        </div>
        {{/if}}
      {{/each}}
			</div>
				<div class="btnArticle">
					<a href="/blog" class="btn">  Découvrez le reste de nos articles </a>
				</div>
		</div>
	</section>

	<div class="content-fixed cover2">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-8.col-md-offset-2">
						<h1>PART2</h1>
					</div>
				</div>
				<div id="instafeed"></div>
				<script type="text/javascript">
				var userFeed = new Instafeed({
				  get: 'user',
				  userId: '37460794'
				});
				userFeed.run();
				</script>
			</div>
		</div>
	</div>
	<section class="content-scrolling cd-color-3">

	</section>
</div>
