<div id='pays'>
	<div class="container-fluid cover-pays-main">
		<div class="row">
			<div class="col-md-12">
				<div class="cover-pays">
					<div class="title-before element-center">
						<div class="title">
							{{data.pays.name}}
						</div>
					</div>
	        <div class='image-pays'>
						<div class="image-pa" style="background-image:url({{{cloudinaryUrl data.pays.image}}})"> </div>
	          <!-- {{#if data.pays.image}}<img src="{{{cloudinaryUrl data.pays.image}}}" class="image-pa">{{/if}} -->
	        </div>
				</div>
			</div>
		</div>
	</div>

	<span class="title-pays"> <h1>Nos articles sur {{data.type}}{{data.pays.name}}</h1> </span>
  <div class="container articles">
    <div class="row">
      {{# each data.posts}}


			<div class="col-sm-5 col-md-3">


				<div class="article">
					<a href="{{postUrl slug}}" class="image-article">
						{{#if image}}<img class="image-ar" src="{{{cloudinaryUrl image}}}">{{/if}}
					</a>
					<div class="title">
							<a href="{{postUrl slug}}"> <h3>{{{title}}}</h3> </a>
					</div>

					<div class="caption">

						<div class="place-date">
							{{{categoryList categories }}}
							<span class="date"> 23 juillet 2016 </span>
						</div>
						<div class="content-brief">
							<a href="{{postUrl slug}}">
								{{{content.brief}}}
							</a>
						</div>
						<div class="more">
							<a href="{{postUrl slug}}" class="button-more"> Lire la suite <i class="fa fa-long-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

		</div>
      {{/each}}
    </div>
  </div>
</div>
