<div class="post-page">
	<div class="cover" id="coverPost">
    	{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image }}}">{{/if}}
			<div class="title"> {{data.post.title}} </div>
	</div>

	<div class="icon"> | </div>
	<section class="content-scrolling-post">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-md-12">
					<article>
						<hr>
						<header>


							<h5>
								{{{categoryList data.post.categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}

								<a href="{{destinationsUrl data.pays}}"> {{data.pays}}
								</a>

							</h5>
						</header>
						<div class="post">
							{{{data.post.content.extended}}}
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</div>
