<div class="post-page">
	<div class="cover" id="coverPost">
    	{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image }}}">{{/if}}
			<div class="block-cover">
				<div class="title"> {{data.post.title}} </div>
				<div class="post-info-top">
					<div class="date">{{data.post.dateArticle}}</div>
					<div class="place">
						<span>|</span>
						{{#if data.post.ville}}{{data.post.ville}} - {{/if}}
						<a href="{{destinationsUrl data.pays}}">{{data.pays}} </a>
					</div>
					<div class="author">
						<span>|</span>
						par {{data.post.author.name.first}}
					</div>
				</div>
			</div>

	</div>

	<a class="icon" id="icon" href="#">

			<span class="arrow arrow-1"></span>
			<span class="arrow arrow-2"></span>

	</a>
	<section class="content-scrolling-post" id="link">
		<!-- <div class="container"> -->
			<!-- <div class="row">
				<div class="col-sm-2 col-md-12"> -->
					<article>


						<!-- <div class="row"> -->
							<div class="col-md-12">

								<div class="col-md-2 block-info">
									<div class="info">
										<h5>Ecrit le {{data.post.dateArticle}}</h5>
										<h5>par {{data.post.author.name.first}} </h5>

									</div>
									<div class="info ville-pays">
										{{#if data.post.ville}} <h5>Ville : {{data.post.ville}}</h5> {{/if}}
										<h5>Pays : <a href="{{destinationsUrl data.pays}}"> {{data.pays}} </a>
									</div>

									<!-- <h5> -->

										<!-- {{#if author.name.first}}by {{/if}} -->
									<!-- </h5> -->
								</div>
								<div class="col-md-8">
									<div class="post">
										{{{data.post.content.extended}}}
									</div>
								</div>
								<div class="col-md-2">
								</div>
							</div>
						<!-- </div> -->
					</article>
					{{#if data}}
					  <script type="text/javascript">
					    var postUrl = 'http://immensebase1,herokuapp.com/blog/post/{{data.post.slug}}';
					    var postSlug = '{{data.post.slug}}';
					  </script>
					{{/if}}
					<h2> Commentaires </h2>
					<div class="commentaire" id="disqus_thread"></div>
					<script>
					/*
					var disqus_config = function () {
					this.page.url = postUrl;  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = postSlug; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://test-h81hogqc00.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<!-- </div>
			</div> -->
		<!-- </div> -->
		{{> footer}}
	</section>
	<section>

</section>
</div>



<script src="/js/zoom.js"></script>
